/* calendar START*/
.calendar-box {
	padding: 20px 0;
	//background-color: $body-bg-color-dark;
}
.wrapper {
	background-color: rgb(90, 90, 129);
	color: white;
	border-radius: 8px;

	.sceduleHeader {
		display: flex;
		flex: 1;
		padding: 10px;
		justify-content: space-between;
	}

}
.calendar {
    background-color: white;
    color: $brand-color;
	display: flex;
	flex-wrap: wrap;
	
	margin: 0 auto;

	.month {
		display: block;
		width: 100%;
		text-align: center;
		font-size: 1rem; // all text in calendar
		p {
			margin: 0;
			border: 1px dotted white;
			color: white;
			font-size: 2rem; // only month name
		}
	}

	.week {
		display: flex;
		width: 100%;
		justify-content: center;

		#currentDay {
			background-color: rgba(239, 255, 8, 0.973);
			border: 2px solid rgb(255, 17, 17);
		}

		#empty {
			background-color: rgba(238, 236, 236, 0.521);
		}

		.day {
			background-color: white;
			flex: 1;   // FIX or NOT
			margin: 3px;
			border: 1px dotted rgb(45, 45, 133);
			text-align: center;		
			
			.date {
				color:white;
				background-color: rgb(73, 73, 121);
				border: 1px dotted white;
				padding: 3px;
				font-weight: bold;
			}
			
			.course {
				padding: 3px;
				font-size: 0.9em;
				color:rgb(20, 40, 95);
				a {
					text-decoration: none;
				}

				a:hover{
					background-color: rgba(2, 2, 187, 0.068);
					padding: 3px 0 3px;
					border-radius: 4px;
				}
			}
			
			.instructor {
				padding: 3px;
				color:rgb(27, 101, 145);

				a {
					text-decoration: none;
				}

				a:hover{
					background-color: rgba(2, 2, 187, 0.164);
					padding: 3px 10px 3px;
					border-radius: 4px;
				}
				
			}
		} // end of .day
	} // end of .week
} // end of .calendar

.changeCalendarView {
	.calendar {

		.week {
			display: block;
		}

		.day {
			display: flex;
			width: 100%;
			height: auto;
			margin: 2px 0;

			.dayOfWeek {
				flex:2;
				text-align: left;
				padding-left: 10px;
			}
			
			.date {
				flex:1;
			}
			
			.course {
				flex:3;
				text-align: left;
				padding-left: 10px;
			}
			
			.instructor {
				flex:2;
			}
		}

		#empty{
			display: none;
		}
	}
}

@media (max-width: 576px) {
	#listView {
		display: none;
	}

	main h2 {
		font-size: 7vw;
	}
	.calendar {

		.month p {
			font-size: 7vw;
		}

		.week {
			//font-size: 1.5rem;
			font-size: 5vw;
			display: block;
		}
		.day .course {
				font-size: 1.3rem;
			}

		#empty{
			display: none;
		}
	}
	
	.changeCalendarView {
		.calendar {
	
			.week {
				//font-size: 1.5rem;
				font-size: 5vw;
				display: block;
			}
	
			.day {
				display: block;

				.dayOfWeek {
					text-align: center;
					padding-left: 0;
				}
				
				.course {
					text-align: center;
					//font-size: 1.3rem;
					font-size: 5vw;
					padding-left: 0;
				}
				
			}
		}
	}

}
/* calendar END*/
