/* calendar START*/
.calendar {
    background-color: white;
    color: black;
	display: flex;
	flex-wrap: wrap;

	.day {
		background-color: white;
		width: 150px;
		height: 150px;
		margin: 2px;
		border: 1px dotted rgb(45, 45, 133);
		color: black;
		font-size: 14px;
		text-align: center;

		.dayOfWeek {
			font-size: 1.2em;
		}
		.date {
			color:white;
			background-color: rgb(73, 73, 121);
			padding: 3px;
			font-weight: bold;
			font-size: 1.2em;
		}
		.course {
			padding: 3px;
			color:rgb(20, 40, 95);
		}
		.instructor {
			padding: 3px;
			color:rgb(27, 101, 145);
		}
	}
}
/* calendar END*/
