/* calendar START*/
.wrapper {
	background-color: rgb(90, 90, 129);

}
.calendar {
    background-color: white;
    color: black;
	display: flex;
	flex-wrap: wrap;
	max-width: 800px;
	
	margin: 0 auto;

	.month {
		display: block;
		width: 100%;
		text-align: center;
		font-size: 2em;
		p {
			margin: 0;
			background-color: rgb(65, 65, 117);
			border: 1px dotted white;
			color: white;
		}
	}

	.week {
		display: flex;
		width: 100%;
		justify-content: center;

		#empty {
			background-color: rgba(238, 236, 236, 0.521);
		}

		.day {
			background-color: white;
			// width: 150px;
			// height: 150px;

			flex:1;
			margin: 2px;
			border: 1px dotted rgb(45, 45, 133);
			font-size: 14px;
			text-align: center;
			// display: flex;			

			.dayOfWeek {
				font-size: 1.2em;
			}
			
			.date {
				color:white;
				background-color: rgb(73, 73, 121);
				border: 1px dotted white;
				padding: 3px;
				font-weight: bold;
				font-size: 1.2em;
			}
			
			.course {
				padding: 3px;
				color:rgb(20, 40, 95);
			}
			
			.instructor {
				padding: 3px;
				color:rgb(27, 101, 145);
			}
		} // end of .day
	} // end of .week
} // end of .calendar

.changeCalendarView {
	.calendar {

		.week {
			display: block;
		}

		.day {
			display: flex;
			width: 100%;
			height: auto;
			//justify-content: space-between;

			.dayOfWeek {
				flex:2;
				text-align: left;
				padding-left: 10px;
			}
			
			.date {
				flex:1;
			}
			
			.course {
				flex:3;
				text-align: left;
				padding-left: 10px;
			}
			
			.instructor {
				flex:2;
			}

		}

		#empty{
			display: none;
		}
	}
}
/* calendar END*/
