// Main Styles
main {
    margin-top: 65px;
    font-size: $font-size;
    h2 {
        font-size: $heading-font-size;
    }
    a {
        font-size: $font-size;
    }

    ul {
        list-style: none;
    }
}