// Colors
$brand-color: white;
$body-bg-color-dark: #e9ecef;
$body-bg-color-light: white;
$wrapper-bg-color: white;
// Text Colors
$text-color-dark: black;
$text-color-light: white;

// Use Color functions to brighten and darken colors
$brand-color-dark: darken($brand-color, 20);
$brand-color-light: lighten($brand-color, 20);

// Fonts
//$font-size: 1.5vw;
//$heading-font-size: 2.5vw;
$font-size: 1em; // if you change this tell me
$heading-font-size: 1.7em;
$body-font: Georgia, Times, Times New Roman, serif;
$heading-font: Tahoma, Verdana, Segoe, sans-serif;
// Typographic Defualts
$line-height: 1.4;

// Layout variables
$padding: 30px;
// Grid Values
$gutter: 2;

// Function to determine column width
// takes two numerical parameters:
// $c -> the number of columns in a row
// $g -> the gutter amount
@function colWidth($c, $g: 2){
    @return ((100 - $g * ($c - 1)) / $c) * 1%;
}
$one-col: 100%;
$two-col: colWidth(2);
$three-col: colWidth(3);
$four-col: colWidth(4);
$five-col: colWidth(5);
$six-col: colWidth(6);

// Media Query Breakpoints
$desctopLarge: em(1200);
$desktopMedium: em(992);
$tabletPortrait: em(768);
$phoneLandscape: em(576);